li.nav-item.false, li.nav-item.active {
    align-items: center;
    display: flex;
    padding: 5px 0;
}

.container-fluid.dashboard {
    background: #F2F2F2;
}

/* .main_content {
    padding: 50px;
    
} */

.sidebar{
    padding: 50px 20px;
    border-radius: 0px 56px 56px 0px;
background: #FFF;
box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.10);
}