.contact_sec h1{
    color: #11264D;
font-family: "DM Serif Display";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.6px;
}

.user-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 4px;
border: 1px solid rgba(17, 38, 77, 0.60);
  }
  
  .btn_cont {
    border-radius: 4px;
background: #377DFF;
    color: white;
    padding: 10px 15px;
   font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #45a049;
  } */