.header {
    padding: 50px 0;
}

.header a {
    text-decoration: none;
    color: #11264D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.header ul li {
    padding: 0 15px;
}

.login_btn {
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #11264D;


}

.get_btn {
    border-radius: 4px;
background: #377DFF;
padding: 10px 30px;
}

